.LOG{	
	position: relative;
	left: 45%;																/*Logo de la pagina*/
	width: 200px; /*ancho de la IMAGEN*/
	margin: 2px;
	border-radius: 0px 0px 10px 10px;
	box-shadow:0px 0px 2px 2px #4e57d5;
}
.menudespl{
		width: 100%;
		border-radius: 50px 0px 50px 0px;
		box-shadow:0.5px 0.5px 5px 20px #4e57d5;
}


.menu__link--escri{														/*para los a prin*/
 text-decoration: none; /*quita la linea de las palabras*/
}	

.menu__link_sub{
	list-style:none;				/* quitar puntidos a los titulos*/   /*Productos*/									
	margin: 5px -30px auto;
	text-align: center;
	background-color:#ffff;
	border-radius: 5px;
	box-shadow:0.5px 0.5px 0.5px 0.5px #4e57d5;
	padding: 5px;
}
.menu_sub-link{
	padding: 5px;
}

.menudespl li:hover{
	transition: 0.5s;
	border-radius: 5px;
	background-color:#bab9c4;
	font-weight: 760;
}
.menu__link{															/*para los li*/
	display: inline-block; /* Incinar el menu desplegable*/
	padding: 15px; /*El área de padding es el espacio entre el contenido del elemento y su borde*/
}

.menu li ul {								/* esto es para menu desplegable */
		display:none;
		position:absolute;
		
}
			
.menu li:hover > ul {
	display:block;										/* esto tambien */
}

.menu{													/*menu de la pagina web para pc*/
	width: 100%; /*ancho de la IMAGEN*/
	position: absolute;
	top: 76px;
	background-color: #ffff;
	border-radius:0px 0px 20px 20px ;
	box-shadow:1px 1px 1px 1px #cfcfcf;
	opacity: 75%;
}

.menu li i{
width: 30px;
box-sizing:  border-box;														/*para los iconos*/
color: #4e57d5;
text-align: center;		/* alineacion del texto*/
margin-right: 5px;
}

.menu li a{	
	font-family: "ArIaL", serif;
	font-weight: 500;																	/*todos los a*/
	color: black;
	font-size: 12px;
	padding: 20px;
}

.menucaja_responsi{
	display: none;   /* Oculta el display de los dispositivos android */
}

/*portada inicio secion*/
.portada h1{
	position: absolute;
	left: 15%;
	top: 200px;
	color: #fff;
	font-size: 50px;
	font: oblique 120% sans-serif bold;
	text-decoration: underline overline 4% #fac34c;
}

.portada{
	margin: 60px 0px;
	width: 100%;
	height: 300px;
}
.portada-caja{
	width: 100%;
	height: 300px;
}


.fa-brands{
	padding: 5px 5px;
	overflow: hidden;
	position: fixed;
	text-align: left;
 	top: 45%;
 	left: 95%;
    width: 100%;
    height: 70px;
    font-size: 60px;
    background-color: #6ec862;
    border-radius: 20px;
    box-shadow:0.5px 0.5px 0.5px 2.0px #6ec862;
    color: #fff;
    z-index: 1000;
}

.fa-brands:hover{
	left: 93%;
	text-align: left;
}
/*------------------------formulario*/
.cajadeinfo{
	overflow: hidden;
	text-align: center;
	margin: 30px;
	background-color: #b1b1b1;
}

.formulario{
	text-align: center;
	margin: auto;
	background-color: #ffff;
	border:2px solid #000;
}

.datosinformativos {
	text-align: center;
		display: inline-block;
		width: 100%;
		padding: 50px;
}
.datosinformativos i{
	padding: 20px;
	font-size: 30px;
	color: #4e57d5;
}

.pos div{
	padding: 20px;
	font-size: 35px;
	text-shadow: 0px 0px 0px #000;
	color: #222422;
}

.pos{
	text-align: center;
	width: 100%;
	margin: auto;
}

.pos p{
	font-size: 20px;
	color: #393939;
}

.pos_p{
	font-size: 20px;
	font: oblique 120% sans-serif bold;
	color: #393939;
}


label {

    display:inline-block;
    margin-top:20px;
    letter-spacing:1px;
}
 
.principal {
    display:block;
    margin:0 auto;
    width:510px;
    color: #0000;
    font-family:Arial;
}
 
form {
    margin:0 auto;
    width:100%;
    max-width: 400px;
}
 
input, textarea {
    width:380px;
    height:27px;
    background:#b4b4b4;
    border:2px solid #000;
    padding:10px;
    margin-top:5px;
    font-size:10px;
    color:#ffffff;
}
 
textarea {
    height:150px;
}
 
#submit {
    width:85px;
    height:35px;
    border:none;
    margin-top:20px;
    cursor:pointer;
}

.textomail{
	padding: 20px;
	font-family: Arial;
	color: #4e57d5;
}

.marcadeagua{
	text-align: center;
	background-color: #2c2323;
}

.marca{
	padding: 4px;
	width: 60px;
	height: 60px;
}

.marcadeagua p{
	font-size: 12px;
}

/* resposi-------------------------------------------------------*/
@media only screen and (max-width: 1300px){

	.menudespl{
		position: fixed;
		top: 0%;
		z-index: 100;
		background-color: #fff;
	}
	.menu{
		display: none;
	}
	.menucaja_responsi{
		display: block;
		position: absolute;
		width: 100%;
		background-color:#ffff ;
		text-decoration: none; 
	}

	.LOG{
	position: relative;
	left: 40%;																/*Logo de la pagina*/
	width: 100px; /*ancho de la IMAGEN*/
	margin: 5px 0px auto;  /*margen de la caja*/
	border-radius: 10px;
	box-shadow:0.5px 0.5px 0.5px 0.5px #4e57d5;
	padding: 10px;
	

}
li:hover{
	box-shadow:0.5px 0.5px 0.5px 1px #232427;
}

.menucaja_responsi li{

	color: black;		/*color de las letras*/
	font-size: 14px; /* tamaño de las letras*/
	font-family:  "Sen", sans-serif;
	text-decoration: none;
}

.menu-responsi li i{
	box-sizing:  border-box;														/*para los iconos*/
	color: #4e57d5;
	text-align: center;		/* alineacion del texto*/
	margin-right: 5px;
	padding: 20px;
	background-color: #cfcfcf;
	margin:10px;
	order-radius: 10px;
	box-shadow:1px 1px 2px 0.5px;
	border-radius: 10px;
 
}

.menu__link--escri-a{
	color: #3440e1;
}


.menu__link_sub-responsi li{
	padding: 5px;
	list-style:none;
}

a{
	text-decoration: none;
}

.menu__link_sub-responsi{
	position: absolute;
	top: 310px ;
	left: -100%;
	visibility: hidden;
	background-color: #ffff;
	padding: 20px;
	border-radius: 5px;
	text-align: center;
	box-shadow:1px 1px 2px 0.5px #4e57d5;
}

			
#activadorseg:checked ~ .menu__link_sub-responsi {
	position: absolute;
	z-index: 20;								/*menu resposible click */
	top: 280px;
	left: 120px;
	opacity: 80%;
	visibility: visible;
	transform: translatey(0%);							/* esto tambien */
	
}

#activadorseg{
display: none;
}

.menu-responsi{
	position: absolute;
	z-index: 20;
	background: rgba(255,255,255,0.5);
	opacity: 0;
	width: 100%;
	visibility: hidden;
	transition: 1.5s;
	transform: translatex(-100%);			/*oculta el menu*/
}

#activador:checked ~ .menu-responsi
{
	position: absolute;
	z-index: 20;								/*menu resposible click */
	opacity: 1;
	visibility: visible;
	transform: translateX(0%);
}


#activador{
	display: none;
}
.boton_responsi{
	font-size: 28px;
	background-color:#434aaf;
}

.menu__link--escri-a{
	padding: 20px 100px;
	text-decoration: none;
}

.fa-brands{
 	left: 92%;
 	font-size: 35px;
 	height: 50px;
 	z-index: 10000;

}


}