.container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.9); 
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.wrapper {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 20px;
  background-color: #fff;
  border-radius: 5px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-top: 10px;
}

input[type="text"],
input[type="date"],
textarea,
select {
  font-size: 16px;
  font-weight: 500;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin-top: 5px;
  transition: border 0.3s ease;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select:focus {
  border: 1px solid #FFD700;
}

h1 {
  color: #333;
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
}

input[type="text"]:focus,
input[type="date"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #FFD700;
}

input[type="submit"] {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: #fff;
  background-color: #FFD700;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #DAA520;
}


/* Estilos para la tabla */
.table {
  position: relative;
    top: 20px;
    width: 50%;
    height: 50%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.table th,
.table td {
    padding: 8px;
    border: 1px solid #ddd;
}

.table th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
    text-align: left;
}

/* Estilos para los botones */
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-danger {
    background-color: #d9534f;
    border-color: #d9534f;
    color: #fff;
}

.btn-danger:hover {
    background-color: #c9302c;
    border-color: #ac2925;
}

.btn-primary {
    background-color: #337ab7;
    border-color: #2e6da4;
    color: #fff;
}

.btn-primary:hover {
    background-color: #286090;
    border-color: #204d74;
}
